body{
    background-color: rgb(224, 220, 220);
}

.img{
    height: 120px;
    width: 120px;

}
.part1{
    display: flex;
}
.part1 div {
margin: 0px 65px;

    
}
    .part2{
        display: flex;
    }
.part2 div{
    margin: 0px 65px;
   
        
    }
    .part3 {
        display: flex;
    }
    .part3 div{
        margin: 0px 65px;
        
            
        }
        .part4{
            display: flex;
        }
        .part4 div{
            margin:0px 65px;
            
                
            }

            .part5{
                display: flex;
            }
            .part5 div{
                margin:0px 65px;
                
            }
            h1{
                text-align: center;
                border: 2px solid black;
                margin: 10px 200px;
            }

            @media (max-width:700px){
                .part1 div {
                    margin: 0px 5px;
                    }
                    .part2 div {
                        margin: 0px 5px;
                        }
                        .part3 div {
                            margin: 0px 5px;
                            }
                            .part4 div {
                                margin: 0px 5px;
                                }
                                .part5 div {
                                    margin: 0px 5px;
                                    }

                    .img{
                        height: 70px;
                        width: 70px;
                    }
                    h3 {
                        font-size: small;
                    }
                    h4{
                        font-size: small;
                    }
                    
                }